@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');;

// Background color variables

$primary: #202020;
$secondary: #FFFFEE;

// Accent color variabls

$priAcc: #DE6449;
$secAcc: #63ACD8;
$altAcc: #303030;
$smAcc: #ADADAD;
$errorTx: #CD4848;

// Fonts

$mainFont: 'Roboto', sans-serif;


// Button Mixins

@mixin mainBtn {
  background: $priAcc;
  border: 0;
  color: $secondary;
  font-weight: bold;
  font-size: 0.95rem;
  border-radius: 3px;
  margin: auto;
  padding: 10px 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;

  &:hover {
    opacity: 0.94;
    cursor: pointer;
    box-shadow: none;
  }
}
